*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
    margin: 0;
}

a,a:focus, a:link, a:visited{
    text-decoration: none;
    display: inline-block;
}

span{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-evenly{
    justify-content: space-evenly;
}


.justify-content-around{
    justify-content: space-around;
}
