
$color-primary : #506DE2;
// $color-secondary : #506DE2;

$bg-color:#F4F7FC;
$bg-color-01:#f0f0f0;
$bg-color-02:#F5F5F5;
$bg-color-03:#3366FF;

$text-color-pri : #47495E;
$text-color-sec : #7A7C88;
$text-color-ter : #898989;
$table-header-text : #8E929E;
$table-body-text : #A3A3A3;

$color-red : red;
$color-lime : lime;
$color-white : #fff;
$color-black : #000;
$icons-color : #ccc;

$progress-bar-1 : #768EE8;
$progress-bar-2 : #FEC401;
$progress-bar-3 : #9A9EAA;
$progress-bar-4 : #F65F16;
$progress-bar-5 : #4ED5AA;
$progress-bar-6 : #424D63;




$paid-color : #31CE73;
$pending-color : #7984A4;
$failed-color : #EA5B6D;



$sidebar-width:90px;
















